<h1>Edit Agent</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.workspace_agent_path(@conn, :update, @workspace_id, @agent)) %>

<span><%= link "Back", to: Routes.workspace_agent_path(@conn, :index, @workspace_id) %></span>
