<h1>Listing Agents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Api key</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for agent <- @agents do %>
    <tr>
      <td><%= agent.name %></td>
      <td><%= agent.api_key %></td>

      <td>
        <span><%= link "Show", to: Routes.workspace_environment_agent_path(@conn, :show, @workspace_id, @environment_id, agent) %></span>
        <span><%= link "Edit", to: Routes.workspace_environment_agent_path(@conn, :edit, @workspace_id, @environment_id, agent) %></span>
        <span><%= link "Delete", to: Routes.workspace_environment_agent_path(@conn, :delete, @workspace_id, @environment_id, agent), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Agent", to: Routes.workspace_environment_agent_path(@conn, :new, @workspace_id, @environment_id) %></span>
<span><%= link "Back", to: Routes.workspace_environment_path(@conn, :show, @workspace_id, @environment_id) %></span>
