<h1>Show Preview context</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @preview_context.name %>
  </li>

  <li>
    <strong>Data:</strong>
    <pre><%= Ymlr.document!(@preview_context.data) %></pre>
  </li>

</ul>

<span><%= link "Edit", to: Routes.workspace_preview_context_path(@conn, :edit, @workspace_id, @preview_context) %></span>
<span><%= link "Back", to: Routes.workspace_preview_context_path(@conn, :index, @workspace_id) %></span>
