<h1>Show Workspace</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @workspace.name %>
  </li>

  <li>
    <%= link "Agents", to: Routes.workspace_agent_path(@conn, :index, @workspace) %>
  </li>

  <li>
    <%= link "Conditions", to: Routes.workspace_condition_path(@conn, :index, @workspace) %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.workspace_path(@conn, :edit, @workspace) %></span>
<span><%= link "Back", to: Routes.workspace_path(@conn, :index) %></span>
