<h1>Edit Assigner</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.workspace_flag_flag_assigner_path(@conn, :update, @workspace_id, @flag_id, @flag_assigner)) %>

<span><%= link "Back", to: Routes.workspace_flag_flag_assigner_path(@conn, :index, @workspace_id, @flag_id) %></span>
