<h1>Show Treatment</h1>

<ul>

  <li>
    <strong>Key:</strong>
    <%= @flag_treatment.key %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @flag_treatment.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.workspace_flag_flag_treatment_path(@conn, :edit, @workspace_id, @flag_id, @flag_treatment) %></span>
<span><%= link "Back", to: Routes.workspace_flag_flag_treatment_path(@conn, :index, @workspace_id, @flag_id) %></span>
