<h1>New Element</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.workspace_content_block_element_path(@conn, :create, @workspace_id, @content_block_id)) %>

<span><%= link "Back", to: Routes.workspace_content_block_element_path(@conn, :index, @workspace_id, @content_block_id) %></span>
