<h1>New Content Block</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.workspace_content_block_path(@conn, :create, @workspace_id)) %>

<span><%= link "Back", to: Routes.workspace_content_block_path(@conn, :index, @workspace_id) %></span>
