<h1>Show Flag</h1>

<ul>

  <li>
    <strong>Key:</strong>
    <%= @flag.key %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @flag.type %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.flag_path(@conn, :edit, @flag) %></span>
<span><%= link "Back", to: Routes.flag_path(@conn, :index) %></span>
