<h1>Show Condition</h1>

<ul>

  <li>
    <strong>Key:</strong>
    <%= @condition.key %>
  </li>

  <li>
    <strong>Source:</strong>
    <%= @condition.source %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.workspace_condition_path(@conn, :edit, @workspace_id, @condition) %></span>
<span><%= link "Back", to: Routes.workspace_condition_path(@conn, :index, @workspace_id) %></span>
