<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "RiddlerAdmin", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Riddler</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%# <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> %>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <%= if @current_identity do %>
            <%= link "Log out", to: Routes.identity_session_path(@conn, :delete), method: :delete, class: "nav-link" %>
          <% else %>
            <%= link "Log in", to: Routes.identity_session_path(@conn, :new), class: "nav-link" %>
          <% end %>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <%= link "Accounts", to: Routes.account_path(@conn, :index), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link "Workspaces", to: Routes.workspace_path(@conn, :index), class: "nav-link" %>
              </li>

              <%
                workspace_id = case Map.has_key?(assigns, :workspace) do
                true -> assigns.workspace.id
                false -> assigns[:workspace_id]
                end
              %>
              <%= if workspace_id do %>
              <li class="nav-item">
                <%= link "Conditions", to: Routes.workspace_condition_path(@conn, :index, workspace_id), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link "Definitions", to: Routes.workspace_definition_path(@conn, :index, workspace_id), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link "Environments", to: Routes.workspace_environment_path(@conn, :index, workspace_id), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link "Flags", to: Routes.workspace_flag_path(@conn, :index, workspace_id), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link "Publish Requests", to: Routes.workspace_publish_request_path(@conn, :index, workspace_id), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link "Preview Contexts", to: Routes.workspace_preview_context_path(@conn, :index, workspace_id), class: "nav-link" %>
              </li>
              <% end %>

            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Account</span>
            </h6>
            <%= render "_identity_menu.html", assigns %>
          </div>
        </nav>

        <%= @inner_content %>
      </div>
    </div>
  </body>
</html>
