<h1>Edit Publish request</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.publish_request_path(@conn, :update, @publish_request)) %>

<span><%= link "Back", to: Routes.publish_request_path(@conn, :index) %></span>
